h1 {
    padding: 1em 0;
    text-align: center;
}

h2 {
    font-size: 1.3em;
    font-style: italic;
    padding: 0.75em 0.75em;
    text-align: center;
}

h1 img {
    vertical-align: middle;
    padding: 0 15px;
    height: 150px;
}

a {
    color: #7ebbff;
}

.input-label {
    font-weight: bolder;
    margin: 0 0.3em;
}

code {
    color: #2468b5;
}

div.sphobjinv-output {
    margin: 20px 0 50px;
}

div.report-problems {
    font-size: 75%;
    font-style: italic;
}

code.language-none {
    font-size: smaller;
}

.footer {
    font-size: 70%;
    color: #888;
}
